body { font-family: "Arial"; font-size: 12px; margin: 0px; padding: 0px; text-align: center; min-width: 1005px; }
#centerwrapper { text-align: left; width: 1005px; margin-left: auto; margin-right: auto; }
